header {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
}

aside {
  width: 30%;
  margin: 0px 20px;
}

.right-page-section {
  width: 70%;
}

.story-article {
  margin: 0px 0px 20px;
}

.story-heading {
  margin: 10px 0px;
}

.paragraphs {
  margin: 0px;
}